*.aux
*.log
brev
*.bbl
*.blg
crypt
pplan.out
*.toc
*.xml
pplan.bib
*.bcf
out
.taskarena/.tasks/hooks/on-modify.timewarrior
figures/plots
**/__pycache__
*taskrc
*temp
*/tasks/hooks
tex/tidsschema.tex
db_exjobb
*.pyc
