{% extends "presentation/base.html" %}

{% block content %}

  <article id="presentation_pitch">

    <h1>Diploma presentation pitch</h1>
    <p id="blurb-intro">Presenting the new and improved master diploma work.</p>

    <h2>Old pitch</h2>
    <blockquote>
      I'll figure out the smallest possible design changes that will</br>
      enable the users of the Shotgun desktop-client to use it more efficiently.
      <footer>Bright eyed and idealistic Stefan of 2018.</footer>
    </blockquote>

    <h2>Problems with current angle</h2>
    <ul>
      <li>Little to no ways of customizing the Shotgun-web/-desktop client.</li>
      <li><b>None</b> of the current actual modifications are design related.</li>
      <li>Boring questionnaires + poor answer rate ⟶  <em>demotivating</em>.</li>
      <li>Excruciatingly long iteration loop.</li>
      <li>Little to no real-world benefit or impact.</li>
      <li>Resulting knowledge is specific and very niche.</li>
    </ul>

    <h2>New pitch</h2>
    <blockquote>
      Our boss complains he has no easy way to see if any of his employees </br>
      assigned workload outstrips their scheduled work-capacity. This should be </br>
      possible to solve with a small- to medium-sized web-application.
      <footer>Slightly jaded but hopefully more realistic Stefan of 2019.</footer>
    </blockquote>

    <h2>Improvements with the new angle</h2>
    <ul>
      <li>Real-world benefits that impacts <em>the whole team</em>.</li>
      <li>Single main stakeholder ⟶  tight iteration loop.</li>
      <li>Questionnaires still possible, but no loger essential for advancing the project.</li>
      <li>Major part of the work will be design related.</li>
      <li>Large corpus of literature related to web-design best practices.</li>
      <li>Resulting knowledge is in demand and is broad enough to be usable in a large swathe of disciplines.</li>
    </ul>

  </article>

{% endblock %}
